Rapper New Page


<form action="/rappers" method="post">
Name:  <input type="text" name="name" placeholder="enter rapper name">
Age:  <input type="number" name="age" placeholder="enter age">
Fire:  <input type="text" name="fire" placeholder="fire or nah">
  <input type="submit" value="submit">
</form>
